@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light is default */

.dark {
  background-color: #111827;
  color: #f9fafb;
}

/* Sepia Theme */
.sepia {
  background-color: #f4ecd8;
  color: #5b4636;
}

/* Improve inputs */
.sepia input,
.sepia textarea {
  background-color: #fffaf0;
  color: #5b4636;
}

.dark input,
.dark textarea {
  background-color: #1f2937;
  color: #f9fafb;
}